.link {
  display: inline-block;
  margin: 0 5px;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}

.link:global(.active) {
  font-weight: bold;
}

.authMenu {
  margin-left: auto;
  display: flex;
  gap: 10px;
  color: #fff;
}

.wrapper {
  display: flex;
}

.title {
  color: #fff;
}
