.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}

.formGroup {
  display: flex;
  justify-content: space-between;
  color: rgb(53, 152, 114);
}

.formInput {
  width: 250px;
}

.formBtn {
  border: 1px solid rgb(53, 152, 114);
  border-radius: 3px;
  color: rgb(53, 152, 114);
  cursor: pointer;
}

.formBtn:hover {
  background-color: rgb(53, 152, 114);
  color: #fff;
}

.message {
  text-align: center;
  color: rgb(53, 152, 114);
}
